/* body{
    background-color: black;
    color:beige
} */

.page-title{
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: left;
}

.btn-save{
    display: flex;
    align-items: right;
}